@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<partial name="_Notifications" />




<div class="wrapper">
    <section class="login-content">
        <div class="container">
            <div class="row align-items-center justify-content-center ">
                <div class="col-lg-8">
                    <div class="card auth-card">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center auth-content">
                                <div class="col-lg-7 align-self-center">
                                    <div class="p-3">
                                        <h2 class="mb-2">تسجيل الدخول</h2>
                                        <p></p>

                                        <form id="account"
                                              method="post"
                                              asp-route-returnUrl="@Model.ReturnUrl">
                                            <div asp-validation-summary="ModelOnly"
                                                 class="text-danger"
                                                 role="alert">
                                            </div>

                                            <div class="row">
                                                <!-- Email -->
                                                <div class="col-lg-12">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.Email"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.Email">Email</label>
                                                        <span asp-validation-for="Input.Email"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Password -->
                                                <div class="col-lg-12">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.Password"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.Password">Password</label>
                                                        <span asp-validation-for="Input.Password"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Remember Me -->
                                                <div class="col-lg-6 rtl ">
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input asp-for="Input.RememberMe"
                                                               class="custom-control-input"
                                                               id="rememberMe" />
                                                        <label class="custom-control-label control-label-1"
                                                               for="rememberMe">
                                                            تذكر كلمة السر
                                                        </label>
                                                    </div>
                                                </div>

                                                <!-- Forgot Password -->
                                                <div class="col-lg-6 text-right">
                                                    <a asp-page="./ForgotPassword"
                                                       class="text-primary">
                                                       هل نسيت كلمة السر؟
                                                    </a>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary">تسجيل  الدخول</button>

                                            <p class="mt-3">
                                                انشاء حساب جديد
                                                <a asp-page="./Register"
                                                   asp-route-returnUrl="@Model.ReturnUrl"
                                                   class="text-primary">
                                                   تسجيل
                                                </a>
                                            </p>

                                           
                                        </form>

                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mt-3">
                                          @foreach (var provider in Model.ExternalLogins)
                                            {
                                                string imageSrc = string.Empty;

                                                switch (provider.DisplayName)
                                                {
                                                    case "Google":
                                                        imageSrc = Url.Content("~/Nafas/assets/images/google.png");
                                                        break;

                                                    case "Facebook":
                                                        imageSrc = Url.Content("~/Nafas/assets/images/facebook.png");
                                                        break;

                                                    case "Microsoft":
                                                        imageSrc = "https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg";
                                                        break;
                                                }
                                            

                                            <button type="submit"
                                                    class="btn btn-light btn-block d-flex align-items-center justify-content-center gap-2"
                                                    name="provider"
                                                    value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account">

                                                @if (!string.IsNullOrEmpty(imageSrc))
                                                {
                                                    <img src="@imageSrc"
                                                         alt="@provider.DisplayName"
                                                         style="width:20px;height:20px;object-fit:contain;" />
                                                }

                                                <span>Login with @provider.DisplayName</span>
                                            </button>
                                            }
                                        </form>

                                    </div>
                                </div>
                                <div class="col-lg-5 content-right">
                                    <img src="~/Nafas/assets/images/login/01.png" class="img-fluid image-right" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
