@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="wrapper">
    <section class="login-content" style="padding:0px;">
        <div class="container">
            <div class="row align-items-ceter justify-content-center height-self-center">
                <div class="col-lg-8">
                    <div class="card auth-card">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center auth-content">
                                <div class="col-lg-7 align-self-center">
                                    <div class="p-3">
                                        <h2 class="mb-2"> تسجيل</h2>
                                        <p></p>
                                        <form id="registerForm"
                                              asp-route-returnUrl="@Model.ReturnUrl"
                                              method="post">
                                            @* anti-forgery token is emitted automatically *@
                                            <div asp-validation-summary="ModelOnly"
                                                 class="text-danger"
                                                 role="alert">
                                            </div>

                                            <div class="row">
                                                <!-- Full Name -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.FullName"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.FullName"></label>
                                                        <span asp-validation-for="Input.FullName"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Last Name -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.LastName"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.LastName"></label>
                                                        <span asp-validation-for="Input.LastName"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Email -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.Email"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.Email"></label>
                                                        <span asp-validation-for="Input.Email"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Phone Number -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.PhoneNumber"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.PhoneNumber"></label>
                                                        <span asp-validation-for="Input.PhoneNumber"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Password -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.Password"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.Password"></label>
                                                        <span asp-validation-for="Input.Password"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Confirm Password -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.ConfirmPassword"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.ConfirmPassword"></label>
                                                        <span asp-validation-for="Input.ConfirmPassword"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Accept Terms -->
                                                <div class="col-lg-12">
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input asp-for="Input.AcceptTerms"
                                                               class="custom-control-input"
                                                               id="acceptTerms" />
                                                        <label asp-for="Input.AcceptTerms"
                                                               class="custom-control-label"
                                                               for="acceptTerms">
                                                        </label>
                                                        <span asp-validation-for="Input.AcceptTerms"
                                                              class="text-danger"></span>


                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary">تسجيل</button>
                                            <p class="mt-3 rtl">
                                                هل لديك حساب بالفعل ؟
                                                <a asp-page="/Account/Login"
                                                   asp-route-returnUrl="@Model.ReturnUrl"
                                                   class="text-primary">
                                                     تسجيل الدخول
                                                </a>
                                            </p>
                                         
                                        </form>
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mt-3">
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                string imageSrc = string.Empty;

                                                switch (provider.DisplayName)
                                                {
                                                    case "Google":
                                                        imageSrc = Url.Content("~/Nafas/assets/images/google.png");
                                                        break;

                                                    case "Facebook":
                                                        imageSrc = Url.Content("~/Nafas/assets/images/facebook.png");
                                                        break;

                                                    case "Microsoft":
                                                        imageSrc = "https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg";
                                                        break;
                                                }


                                                <button type="submit"
                                                        class="btn btn-light btn-block d-flex align-items-center justify-content-center gap-2"
                                                        name="provider"
                                                        value="@provider.Name"
                                                        title="Log in using your @provider.DisplayName account">

                                                    @if (!string.IsNullOrEmpty(imageSrc))
                                                    {
                                                        <img src="@imageSrc"
                                                             alt="@provider.DisplayName"
                                                             style="width:20px;height:20px;object-fit:contain;" />
                                                    }

                                                    <span>Login with @provider.DisplayName</span>
                                                </button>
                                            }
                                        </form>

                                    </div>
                                </div>
                                <div class="col-lg-5 content-right">
                                    <img src="~/Nafas/assets/images/login/01.png" class="img-fluid image-right" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
